html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

main,
section,
header,
footer {
  width: 100%;
}

#countdown-view,
#site-view {
  padding: 2rem;
}

#countdown-view {
  min-height: 100vh;
}

#site-view {
  min-height: 100vh;
}

.social-float {
  position: fixed;
  right: 1.5rem;
  z-index: 1000;

  width: 75px;
  height: 75px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: transparent;

  box-shadow: 0 6px 14px rgba(0,0,0,0.25);
}

.social-float img {
  width: 36px;
  height: 36px;
}

.social-float:hover {
  transform: scale(1.2);
}

#soundcloud-button {
  bottom: 13.5rem;
    filter: brightness(0) saturate(100%)
          invert(43%) sepia(97%) saturate(2166%)
          hue-rotate(2deg) brightness(101%) contrast(101%);
}

#instagram-button {
  bottom: 7.5rem;
    filter: brightness(0) saturate(100%)
          invert(32%) sepia(98%) saturate(1863%)
          hue-rotate(316deg) brightness(94%) contrast(101%);
}

#whatsapp-button {
  bottom: 1.5rem;
    filter: brightness(0) saturate(100%)
          invert(46%) sepia(96%) saturate(463%)
          hue-rotate(97deg) brightness(93%) contrast(90%);
}